@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
  --faded-black:#303030;
  --white: #FFFFFF;
  --black: #000000;
}
* {
  outline: none;
  border: none;
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var( --white);
}
html{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("assets/desktop/bg-image-daytime.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.body-main{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px; 
  margin: 56px 165px 98px 165px;
}
#lower-container{
  height: 100%;
  padding: 74px 165px;
}
.body-expand{
  background:rgba(255, 255, 255, 0.75);

}
.dark-body-expand{
  background:rgba(0, 0, 0, 0.75);
}
h1{
  font-style: normal;
  font-weight: bold;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
}

h2{
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;

}

h3{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h5{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

h6{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px; 
  letter-spacing: 3px;
}
/* layout */
.main-container{
  display: flex;
  justify-content: space-between;
}
.content-container{
  width: 100vW;

}
.clock-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.quotes-container{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  margin-bottom: 13px;
  width: 573px;
  opacity: 1;
}

.quotes-container >  div > img{
  margin-top: 12px;
  margin-left: 15.67px;
  cursor: pointer;
}

.clock-container{
  display: flex;

}
.clock-container > h4{
  margin-bottom: 20px;
}
.clock-container > h4{
  margin-left: 12px;
  margin-bottom: 20px;
}
.greeting-container{
  display: flex;
}
.greeting-container > img {
  margin-right: 16px;
}
.expand-control {
  width: 146px;
  height: 56px;
  border-radius: 28px;
  background-color: var(--white);
  padding: 8px 9px 8px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expand-control > h6{
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.expand-control > button{
 background: none;
 transform: scaleY(-1);
 cursor: pointer;
}
.false-margin{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.col-container{
  display: flex;
}
.col{
  width:100%;
  margin-right: 94px;
  padding-right: 147px;
}
.info-container{

  margin-bottom: 42px;
}
.info-container > h4{
  margin-bottom: 9px;
}
.bar{
  border-right:1px solid #979797 ;
  
}
.fade-style{
  color: var(--faded-black);
}
.white-style{
  color: var(--white);
}